<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <title>{% if page.pill %} {{ page.pill }} -{% endif %}{% if page.subtitle == '' %}{% elsif page.subtitle %} {{ page.subtitle }} -{% elsif layout.subtitle %} {{ layout.subtitle }} -{% endif %}{% if page.parttitle %} {{ page.parttitle }} -{% endif %}{% if page.title2 == '' %}{% elsif page.title2 %} {{ page.title2 }} -{% elsif layout.title2 %} {{ layout.title2 }} -{% endif %} CloudCaptain &bull; Immutable Infrastructure Made Easy</title>
    <link rel="alternate" type="application/atom+xml" title="CloudCaptain" href="/blog/atom.xml" />
    <link rel="canonical" href="https://cloudcaptain.sh{{page.url | split: '.html'}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.pill %} {{ page.pill }} -{% endif %}{% if page.subtitle == '' %}{% elsif page.subtitle %} {{ page.subtitle }} -{% elsif layout.subtitle %} {{ layout.subtitle }} -{% endif %}{% if page.parttitle %} {{ page.parttitle }} -{% endif %}{% if page.title2 == '' %}{% elsif page.title2 %} {{ page.title2 }} -{% elsif layout.title2 %} {{ layout.title2 }} -{% endif %} CloudCaptain &bull; Immutable Infrastructure Made Easy">
    <meta charset="UTF-8"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <link href="/assets/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap-3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/prettify-20130304/prettify.css" type="text/css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet">
    <script type="text/javascript">
        if (self !== top) {
            top.location = self.location;
        }
    </script>
</head>
{% assign blogpost = site.posts | first %}
{% assign bloglink = blogpost.permalink | split: '.html' %}
<body>
<div id="banner" class="center">
    <i class="fa fa-arrow-right"></i> Try our new product <strong><a href="https://sprinters.sh" style="color: white"><span style="color: rgb(255, 193, 7)">Sprinters</span>: Run your <span style="color: rgb(255, 193, 7)">GitHub Actions</span> jobs <span style="color: rgb(255, 193, 7)">10x cheaper</span> on AWS with a 1-line change to your workflow yml</a></strong>
</div>
<div id="wrapper">
    <div id="header" class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="/"><img id="logo" src="/assets/img/logo/cloudcaptain-h.svg" alt="CloudCaptain"></a>
            </div>
            <div class="col-md-10">
                <ul id="tabs" class="nav nav-tabs navbar-right">
                    <li {% if layout.tab == 'learn' %} class="active" {% endif %}><a href="/learn/why">Learn More</a></li>
                    <li {% if layout.tab == 'getstarted' %} class="active" {% endif %}><a href="/getstarted">Get Started</a></li>
                    <li {% if page.tab == 'pricing' %} class="active" {% endif %}><a href="/pricing">Pricing</a></li>
                    <li {% if layout.tab == 'docs' %} class="active" {% endif %}><a href="/docs">Documentation</a></li>
                    <li {% if layout.tab == 'blog' %} class="active" {% endif %}><a href="{{ bloglink }}">Blog</a></li>
                    <li {% if page.tab == 'about' %} class="active" {% endif %}><a href="/about">About</a></li>
                    <li><p class="navbar-btn"><a id="navbar-login" href="https://console.cloudcaptain.sh" class="btn btn-primary btn-large">Log in</a></p></li>
                </ul>
            </div>
        </div>
    </div>
{{ content }}
<div id="push-footer"></div>
</div>
<div id="footer">
    <div id="footer-spacer"></div>
    <div id="footer-navigation">
        <div class="container">
            <div class="col-md-3 col-sm-4">
                <p><strong>INTRO</strong></p>
                <a href="/learn/why.html">Why Immutable Infrastructure?</a><br/>
                <a href="/learn/how.html">How CloudCaptain works</a>
            </div>
            <div class="col-md-4 col-sm-4">
                <p><strong>GET STARTED</strong></p>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <a href="/getstarted/springboot">Spring Boot</a><br/>
                    <a href="/getstarted/jhipster">JHipster</a><br/>
                    <a href="/getstarted/grails">Grails</a><br/>
                    <a href="/getstarted/dropwizard">Dropwizard</a><br/>
                    <a href="/getstarted/play">Play</a><br/>
                    <a href="/docs/payloads/tomcat">Tomcat</a><br/>
                    <a href="/blog/javaee-aws">TomEE</a><br/>
                    <a href="/getstarted/jar">Executable Jar</a><br/>
                </div>
                <div class="col-md-5">
                    <a href="/getstarted/nodejs">Node.js</a><br/>
                    <a href="/getstarted/go">Go</a><br/>
                    <a href="/getstarted/revel">Revel</a><br/>
                    <a href="/getstarted/linux-x64">Linux x64</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <p><strong>COMPARE TO</strong></p>
                <a href="/vs/docker">Docker</a><br>
                <a href="/vs/packer">Packer</a>
            </div>
            <div class="col-md-3 col-sm-4">
                <p><strong>STAY UPDATED</strong></p>
                <p>
                    <a href="https://twitter.com/cloudcaptainsh" style="margin-right: 15px"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="https://github.com/cloudcaptainsh" style="color: #ccc"><i class="fa fa-github fa-2x"></i></a>
                </p>

            </div>
        </div>
    </div>
    <div id="footer-info">
        <div class="container">
            <p>
                &copy; 2026 InfrastructureX GmbH - All rights reserved
                - <a href="/impressum">Impressum</a>
                - <a href="/terms">Terms</a> <a href="/terms_de">(AGB)</a>
                - <a href="/privacy">Privacy</a> <a href="/privacy_de">(Datenschutzerklärung)</a>
            </p>

            <p>Made with <i class="fa fa-heart"></i> in München</p>

            <p>CloudCaptain is a registered trademark of InfrastructureX GmbH</p>

            <p>All other trademarks, trade names, logos or service marks mentioned on this site belong to their
                respective owners.</p>
        </div>
    </div>
</div>

<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/prettify-20130304/prettify.js"></script>
<script type="text/javascript" src="/assets/bootstrap-3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>
